.connect {
  text-align: center;
  margin-top: 15%;

  p {
    width: 550px;
    margin: 10px auto;
    font-size: 18px;
  }

  pre {
    width: 500px;
    padding: 10px;
    margin: 20px auto;
    text-align: left;
    background-color: #e7e7e7;
  }
}
